body{
    margin: 0;
    padding: 10px;
    height: 100vh;
    background: #5d8bb7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.calculator{
    background: #e4edf5;
    padding: 30px;
    border-radius: 25px;
    width: 100%;
    max-width: 100%;
}

.display{
    background: #cfe0ef;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.display small{
    display: block;
    color: #4a6f8f;
    font-size: 14px;
    margin-bottom: 5px;
}

.display input{
    width: 100%;
    border: none;
    background: transparent;
    font-size: 40px;
    text-align: right;
    color: #1c3b5a;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

button {
    padding: 18px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    background: #bdd3e6;
    color: #1c3b5a;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #a9c3db;
}

.enter {
    grid-column: span 2;
    background: #4f82b3;
    color: white;
    font-weight: bold;
}

@media(max-width:480px){

    .calculator{
        padding:15px;
        border-radius:15px;
    }

    #display{
        height:55px;
        font-size:24px;
    }

    button{
        height:50px;
        font-size:18px;
    }
}

@media(min-width:481px) and (max-width:768px){

    .calculator{
        max-width:400px;
    }

    button{
        height:65px;
        font-size:22px;
    }

}

@media(min-width:769px){
    .calculator{
        max-width:420px;
    }

    button{
        height:70px;
        font-size:24px;
    }
}
