*{
    box-sizing: border-box;
}

body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: #5d8bb7;
    font-family: Arial, sans-serif;
    padding:15px;
}

.calculator{
    background: #e4edf5;
    padding:20px;
    border-radius:20px;
    box-shadow: 0 0 25px rgba(0,150,255,0.3);
    
    width:100%;
    max-width:350px;
}

#display{
    width:100%;
    height:65px;
    font-size:28px;
    margin-bottom:15px;
    text-align:right;
    padding:10px;
    border:none;
    border-radius:12px;
    background:#061a2b;
    color:#00c6ff;
    box-shadow: inset 0 0 10px rgba(0,198,255,0.3);
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:60px;
    font-size:20px;
    border:none;
    border-radius:12px;
    background: linear-gradient(145deg,#0a3d62,#0f4c75);
    color:#e6f7ff;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background: #a9c3db;
    transform: scale(1.05);
}

.operator{
    background: linear-gradient(145deg,#0077b6,#00b4d8);
}

.operator:hover{
    background: linear-gradient(145deg,#0096c7,#00d4ff);
}

.equal{
    background: linear-gradient(145deg,#00b4d8,#48cae4);
    color:black;
}

.equal:hover{
    background: linear-gradient(145deg,#00d4ff,#90e0ef);
}

.zero{
    grid-column:span 2;
}

@media(max-width:480px){
    .calculator{
        padding:15px;
        border-radius:15px;
    }

    #display{
        height:55px;
        font-size:24px;
    }
    
    button{
        height:50px;
        font-size:18px;
    }
}

@media(min-width:481px) and (max-width:768px){
    .calculator{
        max-width:400px;
    }
    
    button{
        height:65px;
        font-size:22px;
    }
}

@media(min-width:769px){
    .calculator{
        max-width:420px;
    }
    
    button{
        height:70px;
        font-size:24px;
    }
}
