body {
    background: #4f89c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #eaf4ff;
    padding: 20px;
    border-radius: 20px;
    width: 320px;
}

.display {
    background: #cfe6ff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#history {
    color: #4f89c7;
    font-size: 14px;
}

#result {
    width: 100%;
    font-size: 28px;
    border: none;
    background: transparent;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: #d9ecff;
    cursor: pointer;
}

button:hover {
    background: #c1ddff;
}

.op {
    background: #a9d3ff;
}

.danger {
    background: #ffb3b3;
}

.equal {
    background: #4f89c7;
    color: white;
    grid-column: span 2;
}

.zero {
    grid-column: span 3;
}
